.container-map {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.mapScrollContainer {
    max-width: 100%;
    overflow-y: scroll;
}

.mapScrollContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.mapScrollContainer::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.space-box {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.space-box p {
    width: 100%;
    height: auto;
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.space-box-vertical p {
    writing-mode: vertical-rl;
    text-orientation: sideways;
    width: auto;
    height: 100%;
}