.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.feather-lg {
    width: 24px;
    height: 24px;
}

.button-link {
    margin: 0;
    padding: 0;
    border: 0;
    display: inline;
    vertical-align: baseline;
    line-height: 1;
}

.badge-top {
    vertical-align: top;
    margin-left: -3px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-10 {
    margin-top: 10px;
}

.icon-link {
    padding-top: 4px;
    padding-bottom: 4px;
}

.clickable-table tbody tr {
    cursor: pointer;
}

h2 {
    margin-top: 100px;
}

.loader {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.padding-top {
    padding-top: 75px;
}

.center {
    text-align: center;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.space {
    color: white;
}
.space-available {
    background-color: rgba(48, 209, 88, 0.9);

}
.space-notavailable {
    background-color: rgba(255, 69, 58, 0.9);
}
.space-mydesk {
    background-color: rgba(184, 37, 222, 0.9);
}

.space-listitem-title {
    font-weight: 500;
}