html,
body,
div#__next {
    height: 100%;
    margin: 0;
    padding: 0;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.clickable-table tbody tr {
    cursor: pointer;
}

h2 {
    margin-top: 100px;
}

.loader {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

main {
    padding-bottom: 50px;
}

.padding-top {
    padding-top: 75px;
}

.center {
    text-align: center;
}

.no-wrap {
    white-space: nowrap;
}

form .row {
    margin-bottom: 15px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}