.react-date-picker,
.react-datetime-picker {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 4px;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}

.react-date-picker__wrapper,
.react-datetime-picker__wrapper {
    border: 0 !important;
}

.react-datetime-picker__inputGroup {
    white-space: nowrap;
}
.invalid-search-config {
    width: 100%;
    font-size: .875em;
    color: #dc3545;
}
select.form-select option:disabled {
    color: red;
}
body {
    font-family: Helvetica, sans-serif;
  }
  
  .react-autosuggest__container {
    position: relative;
  }
  
  .react-autosuggest__input {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: var(--bs-body-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .react-autosuggest__input--focused {
    outline: none;
  }
  
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .react-autosuggest__suggestions-container {
    display: none;
  }
  
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0;
    color: var(--bs-body-color);
    background-color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: var(--bs-border-width) solid var(--bs-border-color);
    z-index: 2;
  }
  
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 0.25rem 0.75rem;
  }
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
  
  .container {
    display: flex;
  }