name: Deploy Docker Readme

on:
  workflow_dispatch:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set version env
      run: echo "CI_VERSION=$(cat server/res/version.txt | awk NF)" >> $GITHUB_ENV
    - name: Set date env
      run: echo "TODAY=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
    - name: Prepare Docker Hub Readme
      run: cat docker-readme.md | sed "s/{{version}}/${CI_VERSION}/g" | sed "s/{{date}}/${TODAY}/g" > docker-readme-modified.md
    - name: Docker Hub Description
      uses: peter-evans/dockerhub-description@v3
      with:
        username: seatsurfing
        password: ${{ secrets.CI_REGISTRY_PASSWORD }}
        repository: seatsurfing/backend
        readme-filepath: ./docker-readme-modified.md